[diff]
  external = /home/am/home-bin/git_diff_wrapper

[pager]
  diff =
[user]
	name = Andreas Maunz
	email = andreas@maunz.de
[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log -p
[push]
	default = current
[color]
	ui = true
